form {
  width: 30%;
  margin: auto;
  border: 1px solid var(--main-blue-color);
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 1em;
}

#queryDiv {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

input[type='submit'] {
  align-self: center;
}

label {
  color: var(--main-blue-color);
}
