#questionAnswerDiv {
  border: 1px solid var(--main-blue-color);
  padding: 2em;
  margin: 1em;
}

#question {
  display: flex;
  justify-content: space-between;
  color: var(--main-blue-color);
}

#showAnswers {
  margin-right: 1em;
}

#answers-div {
  color: var(--main-blue-color);
}
